h1{
    text-align: center;
    color: purple;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

html{
    background-color:beige;
}


.center.img{
    text-align: center;
}

button{
    margin: 8px solid black;
    padding-left: 10px;
    padding-right:10px;
    padding-top: 5px;
    padding-bottom:5px;
}

.rmvMar{
    border-top:antiquewhite;
}

.bodr{
    border: 4px solid black;
    border-radius: 30px;
    width: 900px;
    margin: 0 auto;
    padding: 60px;
    
    background-color:antiquewhite;
}
