h1{
    text-align: center;
    color: purple;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

*{
    background-color:antiquewhite;
}

.img{
    text-align: center;
}

.center{
    width:1000px;
    margin:0 auto;
}