.headings {
    color: purple;
    text-align:center;
    font-size:50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

img{
    height: auto;
    width:400px;
}

html{
    background-color:beige;
    
}

.bulletCenter{
    width:300px;
    margin: 0 auto;
    border:5px solid black; 
    padding:70px;
    background-color:antiquewhite;
    
}