.headings {
    color: purple;
    text-align:center;
    background-color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size:50px;
}

img{
    height: auto;
    width:700px;
}